<!-- templates/product_tables.html -->
{% extends "base.html" %}
{% block content %}
<h2>Product of Two Tables</h2>
{% if error %}
    <p style="color:red;">Error: {{ error }}</p>
{% endif %}
<form action="/product_tables" method="post">
    <label for="table1_fullname">First Table:</label><br>
    <select name="table1_fullname" id="table1_fullname" required>
        {% for table_fullname in tables %}
            <option value="{{ table_fullname }}">{{ table_fullname }}</option>
        {% endfor %}
    </select><br><br>
    <label for="table2_fullname">Second Table:</label><br>
    <select name="table2_fullname" id="table2_fullname" required>
        {% for table_fullname in tables %}
            <option value="{{ table_fullname }}">{{ table_fullname }}</option>
        {% endfor %}
    </select><br><br>
    <label for="destination_db_name">Destination Database:</label><br>
    <select name="destination_db_name" id="destination_db_name" required>
        {% for db_name in databases.keys() %}
            <option value="{{ db_name }}">{{ db_name }}</option>
        {% endfor %}
    </select><br><br>
    <label for="new_table_name">New Table Name:</label><br>
    <input type="text" id="new_table_name" name="new_table_name" required><br><br>
    <button type="submit">Perform Product</button>
</form>
{% endblock %}
